target
test-output
report
testLogs
screenshots
src/test/resources/jenkinsLatestReport/ExtentReport.html
*.html
src/test/resources/jenkinsLatestReport/
.classpath
/bin/
Accessibilty
DownloadFolder(.*)
src/test/resources/essentials/reports
*.har
*.Zip
/serenitymaventest
/serenitymaventest/*.DS_Store
/serenitymaventest/.project
/serenitymaventest/.settings/org.eclipse.core.resources.prefs
/serenitymaventest/.settings
/serenitymaventest/src/*.DS_Store
/*.DS_Store
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/src/.DS_Store
/src/main/.DS_Store
